/*
* elementName
* #id
* .class
targetName {
	properlyName1: value;
	properlyName2: value;
	.
	.
	.
	properlyNameN: value;
}
*/

* {
	box-sizing: border-box;
}

/*Restart values of margin and padding*/
body {
	margin: 0px;
	padding: 0px;
	color: #4F545F;
	font-size: 13px;
	font-family: Verdana, Sans-serif;
}

/*Target h1*/
h1 {
	padding: 20px;
	margin: 0;
	color: white;
	background-color: #55B3C5; 
}

/*Target fieldset*/
fieldset {
	border: 2px dashed #000;
	margin: 20px;
	padding: 20px;
}

fieldset > div {
	/*background: url() no-repeat center #42579C*/
	border: 1px solid #6278B0;
	color: #42579C;
	background-image: url("https://cdn3.iconfinder.com/data/icons/bold-blue-glyphs-free-samples/32/Info_Circle_Symbol_Information_Letter-512.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5% 90%;
}

/*Target legend*/
legend {
	font-size: 1.3em;
	font-weight: 900; /* 1 - 999 */
}

/*Target paragraph*/
p {

}

/*Target ID heading*/
#heading {

}

#navMenu {
	list-style: none;
	background-color: #ccc;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navMenu > li {
	float: left;
	padding: 0;
}

#navMenu > li:hover {
	color: white;
	cursor: pointer;
	background-color: #999;
}

/*Target class container*/
.container {

}

.element {
	padding: 10px;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 20px;
	padding bottom: 10px;
	padding: 5px 15px 10px 20px;
}

.formElement, select {
	padding: 5px 10px;
	width: 250px;
}

.formButton {
	text-align: center;
	padding: 10px 20px;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}

.formButton:hover {
	cursor: pointer;
}

#submitButton {
	text-align: center;
	color: #56CC6F;
}

#cancelButton {
	color: red;
	text-align: center;
}
